
<div style="text-align:center;">
    <h1 class="h1_header" >We buy all <%= @items.first.item_type %> in New York City area</h1>
    <h2 class="h2_header" >Instant payments on the spot</h2>
</div>   

<div class="container">
    <div class="row_">
       <div class="">
         <div class="panel panel-primary">
           <div class="panel-heading">
               <%= link_to root_path do %>
                   <span class="back-button"><span class="glyphicon glyphicon-menu-left"></span> Back </span>
               <% end %>
               | Category:  <%= @items.first.item_type %>
           </div>
           <div class="panel-body">
                <% @items.each do |item| %>
                  <%= render :partial => "/layouts/product_card", :locals => {:name => item.name, :price => item.price,
                                                                                  :item_url => item.item_url, :item_type => item.item_type,
                                                                                        :picture => item.pic }%>  
                <% end %>
          </div>
        </div>
     </div>
  </div>
</div>