/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.h1_header {
    font-size: 175%;
}

.h2_header {
    font-size: 160%;
}

.item-image {
    margin: auto;
    max-height: 150px;
    max-height: 150px;
    text-align: center;
}

.item-price {
    position: absolute;
    top: 2px;
    right: 18px;
    color: #6565b2;
}

.item-desc:hover, .item-desc {
    color: black;
    text-align: center;
}

.back-button {
    color: white;
}

.back-button:hover {
    color: white;
    text-decoration: none;
}

