<div class="col-sm-4 col-md-3 col-xs-4 col-lg-2">
 <%= link_to show_item_types_path(:item_type => name) do %>
    <div class="panel panel-default" style="border-color: light-grey !important; margin-bottom:5px !important; margin-top:5px !important; background-color:#ede9e9;">
      <div class="panel-body">
       <img src="/img/<%= picture %>" alt="" class="img-responsive item-image"> 
      </div>
      <div class="panel-footer center item-desc" style="min-height: 60px !important; padding-bottom: 2px !important; padding-top: 4px !important;"> <%= name.capitalize %> </div>
    </div>
<% end %>
</div>




