<%= link_to show_item_path(:item_url => item_url, :item_type => item_type) do %>
  <div class="col-sm-4 col-md-2 col-xs-6 col-lg-2">
    <div class="panel panel-default" style="border-color: light-grey !important; margin-bottom:0px !important; margin-top:5px !important; ">
      <div class="panel-body">
       <% if local_assigns[:price] %>
         <div class="item-price">
           <span style="font-size:10px;">upto</span> <%= price %>
         </div>
       <% end %>
       <img src="/img/items/<%= picture %>.jpg" alt="" class="img-responsive item-image"> 
      </div>
      <div class="panel-footer center item-desc"> <%= name.capitalize! %> </div>
    </div>
  </div>
<% end %>